# Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]
.pytest_cache/

# Environment Variables
.env

# VS Code
.vscode/

# Uploaded Files
uploads/

# SQLite
*.db

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db